.comment-post {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 20px 0px 20px;
  flex-grow: 1;
}

.comment-post img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  flex-shrink: 0;
}

.comment {
  display: inline-block;
  background: #eeeeee;
  padding: 15px;
  font-size: small;
  border-radius: 20px;
  margin-left: 10px;
}
